<%- include('./partials/nav') %>

<h1><%= filteredMenu[0].category %> Menu</h1>

<ul>
  <% filteredMenu.forEach((item) =>{%>
  <li>
    <%= item.name%> <%= item.price %> <%= item.rating %>
    <p><%= item.details %></p>
  </li>

  <%}) %>
</ul>
